@import url("https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/montserrat/loader.css");
@import url("https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/roboto-mono/loader.css");

:root {
  --md-text-font: "Montserrat", sans-serif;
  --md-code-font: "Roboto Mono", monospace;
}

[data-md-color-scheme="slate"] * {
  --md-typeset-a-color: #3f5af6;
}

@keyframes logo {
  0%, 40%, 80%, 100% {
    transform: rotate(0deg) translate(0);
  }
  20%, 60% {
    transform: rotate(360deg) translate(-15);
  }
}
.md-logo {
  animation: logo 1000ms 1;
}
